/* ========== 상품 목록 ========== */

.category-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.product-list-wrap {
    padding: 0 60px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

/* ========== 상품 정렬 ========== */

.product-list-sort {
    text-align: right;
    margin-bottom: 30px;
}

/* ========== 상품 카드 ========== */

.product-card {
    cursor: pointer;
    margin-bottom: 30px;
}

.product-card .photo {
    display: flex;
    aspect-ratio: 6 / 7;
}

.product-card img {
    width: 100%;
    object-fit: cover;
}

.product-card .brand {
    display: inline-block;
    font-size: 20px;
    margin: 12px 0;
}

.product-card a.brand:hover {
    text-decoration-line: underline;
}

.product-card .price {
    color: #555;
    font-size: 16px;
    margin: 10px 0 16px;
}

.product-card .mpoint {
    color: #898989;
    border: 0.5px solid #898989;
    border-radius: 6px;
    padding: 3px 8px;
    display: inline-block;
}

/* 품절 표시 */

.soldout .photo {
    position: relative;
}

.soldout .photo img {
    filter: brightness(0.7);
}

.soldout .photo::after {
    content: 'SOLD OUT';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.soldout-tag {
    margin-top: 10px;
}

.soldout-tag span {
    display: inline-block;
    padding: 4px;
    color: #fff;
    background-color: #000;
}