#product-detail-page {
    max-width: 1300px;
    margin: calc(120px + 80px) auto 0;
    padding: 0 15px;
}

#product-detail-page h4 {
    font-size: 24px;
    padding: 20px 0;
    border-bottom: 2px solid black;
}

#product-detail-page img {
    width: 100%;
    display: block;
}

/* ===== ProductInfo 상품 정보 컴포넌트 ===== */

/* 상품 정보 영역 */
#product-detail-page .product-info {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

#product-detail-page .product-info>* {
    width: 50%;
}

#product-detail-page .info-wrap {
    border-top: 2px solid #000;
    padding-top: 40px;
}

.info-wrap .info-main {
    margin-bottom: 40px;
}

.info-wrap .category-brand {
    font-weight: 600;
}

.info-wrap .name {
    font-size: 1.13rem;
    margin: 22px 0;
}

.info-wrap .price span {
    font-size: 1.25rem;
    font-weight: 500;
}

.info-wrap .price-note {
    margin: 15px 0;
    font-weight: 300;
    margin-top: 15px;
}

.info-wrap .mpoint {
    font-weight: 300;
    font-size: 0.81rem;
    color: #868686;
    background: #F2F2F2;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
}

.info-wrap .info-extra {
    padding: 40px 0;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 40px;
}

.info-wrap .info-extra dl {
    display: flex;
    margin-bottom: 25px;
}

.info-wrap .info-extra dl:last-child {
    margin-bottom: 0;
}

.info-wrap .info-extra dt {
    min-width: 120px;
}

/* 상품 정보 - 옵션 영역 */

.info-option-area {
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-option-area .option-box {
    margin: 20px 0;
}

.info-option-area .option-box select {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}

.info-option-area .option-box select:disabled {
    background-color: #fafafa;
    color: #aaa;
}

.info-option-area .option-box option:disabled {
    color: #ddd;
}

/* ===== SelectedOptionCard 선택 옵션 카드 컴포넌트 ===== */

.selected-option-card {
    position: relative;
    border: 1px solid #eee;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.selected-option-card .option-name {
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
}
.selected-option-card .option-controls {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.option-quantity > input {
    padding: 5px;
    padding-left: 15px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
}

.option-controls .btn-remove {
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
}

/* 상품 정보 - 버튼 */
.info-wrap .btn-group {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.info-wrap .btn-group .btn-wish {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-wrap .purchase-buttons button {
    display: block;
    padding: 10px 50px;
    cursor: pointer;
    border: 1px solid #848484;
}

.info-wrap .purchase-buttons button:disabled {
    border-color: #eee;
    background-color: #eee;
    color: #bbb;
    cursor: not-allowed;
    
}

.btn-group .purchase-buttons {
    display: flex;
    gap: 10px;
}

.btn-group .purchase-buttons .btn-buy {
    border-color: #016ACA;
    color: #FBFBFB;
    background: #016ACA;
}

/* 상품 디테일 이미지 영역 */
.product-detail-images {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-detail-images img {
    margin: 40px 0;
    max-width: 800px;
    display: block;
}